.custom-navbar {
  background-color: #4CAF50 !important; /* Vert stylé */
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #ffeb3b !important; /* Jaune au survol */
}





.custom-dropdown {
  background-color: #000 !important;
}

.custom-dropdown .dropdown-item {
  background-color: #000 !important;
  color: #fff !important;
  transition: color 0.2s ease;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #000 !important; /* Pas de changement de fond */
  color: #ffeb3b !important; /* Jaune au survol */
}
